body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

h1,h2,h3,p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.conteiner {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin:auto;
}

/*section header*/

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
}

.link-navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link-navigation:hover,:focus {
    color: #404bbf;
}

.link-address {
    font-style: normal;
}

.link-contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.link-contact:hover,:focus {
    color: #404bbf;
}


.conteiner-header {
    border-bottom: 1px solid black;
}

.conteiner-nav-logo {
    display: flex;
    align-items: center;
}

.conteiner-nav {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-list {
    display: flex;
    gap: 40px;
    padding-left: 76px;

}

.address-list {
    display: flex;
    gap: 40px;
    padding-left: 332px;
}


/*section hero*/
.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.order-service {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.order-service:hover,:focus {
    background-color: #404BBF;
}

.hero {
    width: 100vw;
    background-color: #2e2f42;

}

.container-title {
    padding: 68px 316px 172px 316px;
}


/*section feature*/
.features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.headline-features {
    display: none;
}

.features-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

.features-text {
    padding-top: 8px;
}

/*section our team*/

.ourteam {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.ourteam-people {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.ourteam-people-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.sectionteam {
    width: 100vw;
    background-color: #FFFFFF;
}

.ourteam-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding-top: 72px;
}

.ourteam-people {
    padding-top: 32px;
}

.ourteam-people-text {
    padding-top: 8px;
}

/*section portfolio*/

.ourportfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.ourportfolio-project {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.ourportfolio-project-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-top: 72px;
}

.portfolio-items {
    width: calc((100%-24px)/3);
}

.ourportfolio-project {
    padding-top: 32px;
}

.ourportfolio-project-text {
    padding-top: 8px;
}

/*section footer*/
.end {
    background-color: #2e2f42;
}

.end-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.end-logo-studio {
    color: #f4f4fd;
}

.end-text {
font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.end {
    width: 100vw;
    background-color: #2e2f42;

}

.conteiner-end {
    display: flex;
    flex-direction: column;
    padding: 100px 864px 100px 0;
    gap: 16px;
}



